<% layout('layout')%>
            <div class="container d-flex justify-content-center align-items-center mt-5">
             <form action="/home" method="POST">
                 <div class="mb-3">
                 <label for="lang" class="form-label">Type the Sentence</label>
                 </div>
                 <div class="mb-3">
                 <input type="text" id="lang" name="lang" class="form-control">
                </div>
                 <button>Find Language</button>
             </form>
             </div>

