<% layout('layout')%>

<div class="container d-flex justify-content-center align-items-center mt-5 card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">The best Guess of the language is: </h5>
      <p class="card-text"><%=languages.name%></p>
      <a href="/home" class="btn btn-primary">Try more</a>
    </div>
  </div>